<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <clear />
        <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=testMemberShip;&#xD;&#xA;		Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.xxxConnectionString" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.DBFile" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\NORTHWND.MDF;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.MyAlbumConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\MyAlbum.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\aspnetdb.MDF;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ADO.NET.Properties.Settings.MyAlbumConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\bin\Debug\DB\MyAlbum.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>